
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


body{
    background-color: rgb(106, 149, 241);
    width: 100%;
    margin:0px auto;
}

.cabecera{
    width: 100%;
    height: 70px;
    margin:0px auto;
    background-color: white;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.contenido{
    width: 100%;
    margin:0px auto;
    padding:50px;
    min-height: calc(100vh - 245px);
    margin:0 auto;
    
}

.pie{
    width: 100%;
    margin:0px auto;
    
    background-color: rgb(67, 95, 155);
    border-top: 1px solid rgb(59, 69, 109);
    box-shadow: 0px -10px 15px 5px rgba(0, 0, 0, 0.3);
    color:rgb(109, 150, 240);
    padding:20px 50px;
}

.pastilla{
    width:300px; 
    height:75px; 
    border:1px solid blue; 
    /*background:rgb(255, 255, 255); */
    background-image: url("../images/fondo_link.png");
    background-size: cover;
    border-radius:15px; 
    padding:15px 25px; 
    margin:15px;
    transition:all 0.4s;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.pastilla:hover{ 
    transform: scale(1.06);
}

.logo{
    transition:all 0.4s;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5)); 
}

.logo:hover{
    transform: scale(1.06);
}

a {text-decoration: none; }





/*
.col {
    border-radius: 5px;
    border: 1px solid rgb(25, 40, 140);
    padding: 15px;
    background-color: rgb(255, 255, 255);
    font-family: 'Passion One', sans-serif;
    font-size: 1.2em;
    color:rgb(25, 40, 140);
    margin:15px;
    text-align: center;
    }
*/